    <!DOCTYPE html>
    <html lang="en">
    <%-include('./includes/header.ejs') %>
    <body>
        <a href="#head"><img src="img/upbutton.png" id="fixedbutton" style="width: 50px; height:50px;" ></a>
            
        <button class="DL" onclick="DarkLightMode()"><img src="img/DL.png"></button>

        <%-include('./includes/navbar.ejs') %>
        
    <!-- start home section -->


    <section id="home">

        <div class="home">
            <div class="container">
                <div class="intro">
                    <div class="card">
                        <img src="img/i.jpg" alt="John" style="width:100%">
                        <h1>Haneen Abdulglil</h1>
                        <p class="title">WEB DEVELOPER</p>
                        <p>Taiz University</p>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    
                    
                    </div>
                </div>



                <div class="intro">
                    <h2 class="special-heading"> portfolio</h2>
                    <p>If you do it right, it will last forever</p>
                    <div class="info">
                        <p>
                                My name is Haneen Abdulglil
                        </p>
                        <p>
                            I am from Yemen, and I am just a girl have big dreams I wish I could achieve them one day . One day I will do things that I always 
                            dream about.
                            I like reading books and I think human without reading is empty and like a tree without leafs.
                            The true way to live this life happly is to love yourself, someone do not love himself no body can love him.


                            
                        
                        </p>
                    </div>

                    </p>
                </div>
            </div>
        </div>

    </section>

    <!-- end home section -->

    <!-- start about section -->

    <section id="about_us">
        <div class="container">
            <h2 class="special-heading"> About</h2>
            <p>Less is more work</p>
            <div class="about-content">
                <div class="my_skills">
                    <div class="sub-title">
                        <p>MY - SKILLS</p>
                    </div>
                    <p>HTML</p>
                    <div class="skill">
                        <div class="skills html">90%</div>
                    </div>

                    <p>CSS</p>
                    <div class="skill">
                        <div class="skills css">80%</div>
                    </div>

                    <p>JavaScript</p>
                    <div class="skill">
                        <div class="skills js">65%</div>
                    </div>

                    <p>PHP</p>
                    <div class="skill">
                        <div class="skills php">60%</div>
                    </div>

                </div>



                    <div class="sub-title">
                        <p>MY - EXPERIENCE</p>
                    </div>

                    <button type="button" class="collapsible">HTML, CSS, & JavaScript:</button>
                    <div class="content">
                    <p>A front-end developer architects and develops websites and applications using web technologies (i.e., HTML, CSS, DOM, and JavaScript), which run on the Open Web Platform or act as compilation input for non-web platform environments (i.e., React Native).</p>
                    </div>
                    <button type="button" class="collapsible">Backend Developer</button>
                    <div class="content">
                    <p>Backend Programming Languages
                        - Databases
                        - Server
                        - APIs</p>
                    </div>
                    <button type="button" class="collapsible">WordPress</button>
                    <div class="content">
                    <p>43% of the web is built on WordPress. More bloggers, small businesses, and Fortune 500 companies use WordPress than all other options combined.</p>
                    </div>


            
            </div>

        </div>
    </section>
    <!-- end about section -->

    <!-- start services section -->

    <section id="services">
    <div class="services">
        <div class="container">
                <h2 class="special-heading"> Services</h2>
                <p>Doom at your service</p>
                        <div class="sub-title">
                                <p>SERVICE - PROVIDED</p>
                        </div>
                        <div class="services-content">

                        <div class="col">
                                <div class="srv">
                                    <i class="fas fa-palette fa-2x"></i>
                                    <div class="text">
                                        <h3>UI design</h3>
                                        <p>Combining the latest design trends with your brand book, our UI designers transform UX wireframes into colorful, striking interface mockups with eye-catching visuals. </p>
                                    </div>
                                </div>
                                <div class="srv">
                                <i class="fab fa-sketch fa-2x"></i>
                                <div class="text">
                                    <h3>UX design</h3>
                                    <p>We put convenience of use in the center and make sure your web solution has intuitive navigation that makes for fast & easy onboarding. </p>
                                </div>
                            </div>
                            </div>
                            <div class="col">
                            <div class="srv">
                                <i class="fas fa-vector-square fa-2x"></i>
                                <div class="text">
                                    <h3>Business analysis and consulting</h3>
                                    <p> Our business analysts perform requirements engineering and outline the scope of the solution. We also create a high-level schedule, provide costs breakdown and offer possibilities of costs reduction.</p>
                                </div>
                            </div>
                            <div class="srv">
                                <i class="fas fa-pencil-ruler fa-2x"></i>
                                <div class="text">
                                    <h3>24/7 support</h3>
                                    <p>Providing L1, L2 and L3 support services, we deliver hot-fixes within 24 hours to prevent or resolve any usage, technology, and code issues that may arise.</p>
                                </div>
                            </div>
                            </div>
                        </div>


                        <div class="sub-title">
                                <p>PREVIOUS - WORK</p>
                        </div>
                        <div class="previoue-works">

                                <div class="works-content">
                                        <div class="card1">
                                                <figure id="figure" class="effect">
                                                        <img src="img/2.jpg" alt="sample33" />
                                                        <figcaption>
                                                        <h2>Digital  <span> Photographer</span></h2>
                                                        </figcaption>
                                                </figure>
                                            <div class="info">
                                                
                                            <p>Build  digital Photographer using WordPress with hight quality images and fast load. </p>
                        
                                            </div>
                                        </div>
                                        <div class="card1">
                                                <figure class="effect">
                                                        <img src="img/1.jpg" alt="sample33" />
                                                        <figcaption>
                                                        <h2>e-commerce  <span> store</span></h2>
                                                        </figcaption>
                                                </figure>
                                            <div class="info">
                                                
                                            <p>Build e-commerce store using WordPress with high-level sequrity and huge amount of products.</p>
                        
                                            </div>
                                        </div>
                                            <div class="card1">
                                                    <figure class="effect">
                                                            <img src="img/img4.jpg" alt="sample33" />
                                                            <figcaption>
                                                            <h2>Coffee  <span>shop </span></h2>
                                                            </figcaption>
                                                    </figure>
                                            <div class="info">
                                                    
                                            <p>Build coffee shop website using prue css and html and javascript.</p>
                        
                                            </div>
                                            </div>    
                                    </div>

                        </div>

                    </div>
                    

                </div>  
        </div>
    </section>

    <!-- end services section -->

    <!-- start contact section -->

    <section id="contact">
    <div class="contact">
        <div class="container">
            <h2 class="special-heading">Contact</h2>
            <p>We are born to create </p>
            <div class="contact_content">
                <h2>Write Us</h2>

                <form id="form" action="">
                    <div class="input-control">
                    
                        <input id="username" name="username" type="text"  placeholder=" Enter your name">
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                    
                        <input id="email" name="email" type="text" placeholder="Enter your email">
                        <div class="error"></div>
                    </div>
                    
        
                    <div class="input-control">
                        
                        <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Enter your message here"></textarea>
                        <div class="error"></div>
                    </div> 
                    
                        <button type="submit">Sign Up</button>
                
                
                </form>
            </div>

            <div class="social">
            <p>Find Us On Social Network</p> 
            <div class="links">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    
            </div>
            
            </div>

        </div>
    </div>
        
        </div>
        

        <!-- end contact section -->
    </section>

    <%- include('./includes/footer.ejs') %>

    <script src="app_js/js.js"></script>

    </body>
    </html>